.navbar {
  border: 10px solid transparent;
  -webkit-border-image: url(../../assets/frame.png) 30 round; /* Safari 3.1-5 */
  -o-border-image: url(../../assets/frame.png) 30 round; /* Opera 11-12.1 */
  border-image: url(../../assets/frame.png) 30 round;
  background-image: linear-gradient(to right,#467c80, #588990, #467c80);
  padding-left: 20px;
  padding-right: 20px;
  height: 28px;
  width: fit-content;
  position: fixed;
  margin-left: 40%;
  margin-top:20px;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.navbar.onscroll {
  border: 10px solid transparent;
  -webkit-border-image: url(../../assets/frame.png) 30 round; /* Safari 3.1-5 */
  -o-border-image: url(../../assets/frame.png) 30 round; /* Opera 11-12.1 */
  border-image: url(../../assets/frame.png) 30 round;
  background-image: linear-gradient(to right,#467c80, #588990, #467c80);
  padding-left: 20px;
  padding-right: 20px;
  height: 28px;
  width: fit-content;
  position: fixed;
  margin-left: 40%;
  margin-top:20px;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}


.navbar.onscroll:hover {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.section-logo {
  margin-left: 20%;
}

.section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

.section li {
  float: left;
}

.section li .content-container {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color:#dbfaff;
  width: 90px;
  display: block;
  text-align: center;
  text-decoration: none;
  margin-top: 5px;
}

.section li .content-container:hover {
  cursor: pointer;
  color: #fed03e;
}

.container {
  flex: 0 0 100%;
  box-sizing: border-box;
  background-color: red;
  padding:0;
  margin: 0;
  display: flex;
}

.content-container {
  margin-right: 10px;
}

.content-container-test {
  position: absolute;
  width: 90px;
  height: 50px;
  margin-top: -3px;
  background-image: url(../../assets/border-bottom.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.content-container-test:hover {
  cursor: pointer;
}

#active {
  color: #fed03e;
}

.muatrang-logo {
  margin-top: 100px;
}

.container-main {
  background-color: red;
  height: 300vh;
}


.container-main-MAIN {
  background-color: blue;
  height: 300vh;
}


.slider {
  margin: 0 50px 0 50px;
  height: 600px;
  border: 10px solid transparent;
  -webkit-border-image: url(../../assets/framebig.png) 30 round; /* Safari 3.1-5 */
  -o-border-image: url(../../assets/framebig.png) 30 round; /* Opera 11-12.1 */
  border-image: url(../../assets/framebig.png) 30 round;
}
