.navbar {
  border: solid;
  border-width: 10px;
  -webkit-border-image: url(../../assets/frame.png) 30 round; /* Safari 3.1-5 */
  -o-border-image: url(../../assets/frame.png) 30 round; /* Opera 11-12.1 */
  border-image: url(../../assets/frame.png) 30 round;
  background-image: linear-gradient(to right,#467c80, #5c9199, #467c80);
  padding-left: 20px;
  padding-right: 20px;
  height: 45px;
  width: fit-content;
  position: fixed;
  margin-left: 45%;
  margin-top:10px;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.navbar.onscroll {
  z-index: 10000;
  border: solid;
  border-width: 10px;
  -webkit-border-image: url(../../assets/frame.png) 30 round; /* Safari 3.1-5 */
  -o-border-image: url(../../assets/frame.png) 30 round; /* Opera 11-12.1 */
  border-image: url(../../assets/frame.png) 30 round;
  background-image: linear-gradient(to right,#467c80, #588990, #467c80);
  padding-left: 20px;
  padding-right: 20px;
  height: 45px;
  width: fit-content;
  position: fixed;
  margin-left: 45%;
  margin-top:10px;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.navbar.onscroll:hover {
  opacity: 1;
  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  -ms-transition: opacity 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}

.section-logo-container {
  margin-top: 60px;
  width:100%;
  display: flex;
  justify-content: center;
  height: 28vh;
  background-image: linear-gradient(to right,#346d6d, #3e8383, #346d6d);
}

.section-logo {
  height: 100%;
  width: 100%;
  max-width: 1000px;
  background-image: url('../../assets/top_object.png');
  background-position: center bottom; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
}

.section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

.section li {
  float: left;
}

.section li .content-container {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color:#dbfaff;
  width: 90px;
  display: block;
  text-align: center;
  text-decoration: none;
  margin-top: 5px;
}

.section li .content-container:hover {
  cursor: pointer;
  color: #fed03e;
}

.container {
  flex: 0 0 100%;
  box-sizing: border-box;
  background-image: linear-gradient(to right,#346d6d, #3d8181, #346d6d);
  padding:0;
  margin: 0;
  display: flex;
}

.content-container {
  margin-right: 10px;
}

.content-container-test {
  position: absolute;
  width: 90px;
  height: 50px;
  margin-top: -3px;
  background-image: url(../../assets/border-bottom.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.content-container-test:hover {
  cursor: pointer;
}

#active {
  color: #fed03e;
}

.muatrang-logo {
  margin-top: 100px;
}

.chinhsachcontainer {
  display: flex;
  justify-content: center;
}

.container-main {
  height: fit-content;
  max-width: 1000px;
  width: 100%;
}


.container-main-MAIN {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right,#346d6d, #3e8383, #346d6d);
  height: fit-content;
}


.slider {
  margin: 0 50px 0 50px;
  width: 100%;
  height: fit-content;
  max-width: 1000px;
  border-style: solid;
  border-width: 15px;
  border-image: url(../../assets/framebig.png) 80 fill round;
}

.slider-info {
  padding-bottom: 20px;
  width: 100%;
  background-image: linear-gradient(to right,#346d6d, #3e8383, #346d6d);
  display: flex;
  justify-content: center;
  height: fit-content;
}

.slider-info.bigger {
  height: 400px;
}

.slider-container {
  width: 100%;
  min-height: 150px;
  max-height: fit-content;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.flower-left{
  flex:2;
  height: 100%;
  width: 25%;
  background-image: url(../../assets/flower.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}

.flower-right{
  flex:2;
  height: 100%;
  width: 25%;
  background-image: url(../../assets/flower.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}

.info-center {
  flex:6;
  height: 100%;
  width: 50%;
}

.info-center .top {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
}

.info-center .bottom {
  font-family: 'Lemonada', cursive;
  display: flex;
  font-size: 30px;
  justify-content: center;
  width: 100%;
  height: 50%;
  color:#fed01a;
}

.lightimg {
  height: 40px;
  width: 40px;
  margin: 5px;
  background-image: url(../../assets/slider-button.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.lightimg.active {
  height: 40px;
  width: 40px;
  margin: 5px;
  background-image: url(../../assets/slider-button-active.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.imgcontainer {
  border: 3.5px solid #fed01a;
  flex:5.5;
  height: 35vh;
  max-height: 300px;
  padding:5.5px;

}
.imgcontainer-side {
  flex:4.5;
  color:white;
  height: 35vh;
  max-height: 300px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 100;
}

.Aligner-item {
  padding-left: 24px;
  justify-content: center;
  font-family: "webfont", Fallback, sans-serif;
  font-size: 22px;
  font-weight: 100;
}

#sec2 {
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: linear-gradient(to right,#215155, #2b6469, #215155);
}

#sec3 {
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: linear-gradient(to right,#215155, #2b6469, #215155);
}

.chitietbanh {
  display: flex;
  height: fit-content;
  margin: 40px 0px 60px 0px;
  line-height: 30px;
}

.hopbanhvagiatien {
  flex:4;
  height: 100%;
  width: 50%;
  justify-content: center;
  align-content: center;
}

.hopbanh {
  width: 100%;
  height: 50%;
}

.giatien {
  width: 100%;
  height: 50%;
  max-height: 50px;
  display: flex;
  justify-content: center;
}

.topmargin {
  margin-top: 10px;
}

.hopbanhvagiatien img {
  justify-content: center;
  align-items: center;
}

.tenvachitietbanh {
  flex:6;

}

.bonghoavaten {
  display: flex;
  max-height: 60px;
}

.bonghoa {
  flex:1;
}

.ten {
  color: #ffd019;
  flex:8;
  font-size: 25px;
  display: flex;
  align-items: center;
  font-family: 'Lemonada', cursive;
}

.chitiet {
  font-family: "webfont", Fallback, sans-serif;
  padding-left: 40px;
  color:white;
  font-size: 21px;
}

.vibanh {
  padding-left: 40px;
}

.vibanh table {
  margin-top: 30px;
  font-family: "webfont", Fallback, sans-serif;
  width: 100%;
  color: white;
  font-size: 16px;
}

.longden {
  height: 10px;
  width: 10px;
  background-image: url(../../assets/iconlongden.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.giady {
  display:flex;
  padding: 20px 0px 0 40px;
}

/* Make the image fit the box */
#boxshadow img {
  width: 150px;
  -webkit-filter: drop-shadow(2px 2px 5px #1e3f3f);
  filter: drop-shadow(2px 2px 5px #1e3f3f);
}

.chinhsach {
  max-width: 1000px;
  width: 100%;
  height: 100px;
  background-image: url(../../assets/cong60k.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.cacvicuabanh {
  padding-top: 30px;
  height: fit-content;
}

.hangmot {
  display: flex
}

.hanghai {
  display: flex
}

.chitietvibanh {
  color: white;
  margin: 20px 20px 0px 20px;
  padding: 10px;
  flex:3;
  width: 33%;
  height: fit-content;
  justify-content: center;
  text-align: center;
  max-width: 300px;
}

.hinhbanh1 {
  height: 180px;
  border: 3.5px solid #fed01a;
  background-image: url('../../assets/DSC00275.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.hinhbanh2 {
  height: 180px;
  border: 3.5px solid #fed01a;
  background-image: url('../../assets/DSC00317.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.hinhbanh3 {
  height: 180px;
  border: 3.5px solid #fed01a;
  background-image: url('../../assets/traxanh.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.hinhbanh4 {
  height: 180px;
  border: 3.5px solid #fed01a;
  background-image: url('../../assets/DSC00318.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.hinhbanh5 {
  height: 180px;
  border: 3.5px solid #fed01a;
  background-image: url('../../assets/DSC00320.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.hinhbanh6 {
  height: 180px;
  border: 3.5px solid #fed01a;
  background-image: url('../../assets/DSC00322.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.hinhbanh7 {
  height: 180px;
  border: 3.5px solid #fed01a;
  background-image: url('../../assets/DSC00309.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.hinhbanh8 {
  height: 180px;
  border: 3.5px solid #fed01a;
  background-image: url('../../assets/DSC00316.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.tenbanh {
  font-family: "webfont", Fallback, sans-serif;
  margin-top: 8px;
  font-size: 20px;
}

.hangba {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

.buthemxiu {
  height: 200px;
  max-width: 350px;
}

#sec4 {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.bangchinhsachuudai {
  justify-content: center;
  font-family: "webfont", Fallback, sans-serif;
  font-size: 20px;
  font-weight: 800;
}

#sec1 {
  height: fit-content;
  padding-bottom: 10px;
  background-image: linear-gradient(to right,#346d6d, #3e8383, #346d6d);
}

#sec4 {
  background-color: #367272;
  height: fit-content;
}

.pricetable {
  border: 2px solid #367272;
}

.pricetable .rowcontainer {
  display: flex;
  align-content: stretch;
}

.rowcontainer.columnsmall {
  flex:2;
  margin: 3px;
  flex-direction: column;
}

.rowcontainer.columnbig {
  flex:3;
  height: 500px;
  margin: 3px;
  color: #fad45a;
  text-shadow: 2px 2px 5px #183333, 5px 5px 5px #336b6b;
  flex-direction: column;
}

.border {
  display: flex;
  width: 100%;
  border: 2px solid white;
}

.start {
  min-height: 100px;
}

.max {
  height: 100%;
}

.contentgiamgia {
  margin: 50px;
}

.bottomtest {
  border: 2px solid white;
  width: 100%;
  height: 50px;
}

.bangchinhsachuudai-bottom {
  border: 2px solid #367272;
  margin: 2px;
}

.pricing {
  width: 100%;
  font-size: 18px;
  table-layout: fixed ;
  text-shadow: 2px 2px 5px #183333, 5px 5px 5px #336b6b;
}

.pricing th{
  color: #fad45a;
  border: 1px solid white;
  height: 60px;
}

.pricing td {
  font-weight: 100;
  color: white ;
  border: 1px solid white;
  text-align: center;
}

.title {
  font-family: "webfontbold", Fallback, sans-serif;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: white;
}

.luuy {
  display: flex;
}

.luuy .text {
  font-family: "webfont", Fallback, sans-serif;
  width: 50%;
  color: white;
  font-weight: 100;
  line-height: 30px;
}

.luuy .text {
  width: 50%;
}

.inbox {
  border: solid;
  border-width: 10px;
  height: fit-content;
  max-width: 800px;
  -webkit-border-image: url(../../assets/frameinbox.png) 15 round; /* Safari 3.1-5 */
  -o-border-image: url(../../assets/frameinbox.png) 15 round; /* Opera 11-12.1 */
  border-image: url(../../assets/frameinbox.png) 15 round;
}

.inboxform {
  width: 100%;
  font-size: 15px;
  height: fit-content;
  background-color: red;
  display: flex;
}

.formimg{
  flex:4;
  background-image: url(../../assets/hinhinput.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.forminput {
  flex:6;
  background-color: #234b4b;
  padding: 20px 40px 20px 40px;
  color:white;
}

.input {
  width:100%;
  color: white;
}

.half {
  width: 50%;
}

.paddingright {
  padding-right: 10px;
}

.submitwrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.submit {
  margin-right: 30px;
  width:150px;
  height: 80px;
  background-image: url(../../assets/datbanhbutton.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.submit:hover {
  cursor: pointer;
}

.imgfooter {
  height: 50px;
  width: 100%;
  background-color: #367272;
  background-image: url(../../assets/hotlinemay.png);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

.footer {
  height: 20vh;
  width: 100%;
  background-image: url(../../assets/footer.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(255, 248, 183);
}

.hinh {
  margin-left: 20px;
  flex:5;
  display:flex;
  justify-content: center;
  height: 30vh;
  width: 100%;
  background-image: url(../../assets/IMG_5099.png);
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
}

#sec5 {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #367272;
  height: fit-content;
  padding-bottom: 15px;
}

button.slick-prev {
  visibility: hidden !important;
}

.mat-input-element {
  font-family: "webfont", Fallback, sans-serif;
  font-size: 18px;
  font-weight: 100;
  color: #f9f0cd;
  line-height: 20px;
}

.slide {
  max-height: 600px;
}

.something {
  color:white;
  max-width: 1000px;
  font-family: "webfontbold", Fallback, sans-serif;
  font-weight: 100;
  font-size: 24px;
  line-height: 35px;
}

.somethinginfo {
  width: 100%;
  display:flex;
  max-width: 1000px;
  margin-top: 10px;
}

.container-main-sec5 {
  display:flex;
  justify-content: center;
  height: fit-content;
  max-width: 1000px;
  width: 100%;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  color: red !important;
}
